
body {
  margin: 0;
  font-family: sans-serif;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #3498db;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
}

.toolbar {
  margin: 10px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px;
  align-items: center;
}

canvas {
  border: 2px solid #333;
 
  background: white; 
  cursor: crosshair;
}


button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}